__pycache__/
*.pyc
*.pyo
*.pyd
*.so
venv/
.venv/
env/
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
staticfiles/
/media/

# Env
.env
secrets/

# IDE
.vscode/
.idea/
.DS_Store

# Coverage
.coverage
htmlcov/
.pytest_cache/

# Celery
celerybeat-schedule
celerybeat.pid

# SSL
nginx/ssl/
docker-compose.override.yml
